@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');
@import "tailwindcss";

body {
  font-family: "Hammersmith One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@theme {
  --color-brand: #FFD000;
  --color-bg-sidebar: #636363;

  --color-text-primary-light: #000000;
}