@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');
@import "tailwindcss";

body {
  font-family: "Hammersmith One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@theme {
  --color-brand: #FFD000;
  --color-secondary-btn: #292929;
  --color-brand-light: #FFF8D7;

  --color-text-success: #036900;
  --color-text-danger: #690000;

  --color-brand-hover: #987700;
  --color-secondary-btn-hover: #434343;

  --color-bg-secondary-light: #BFBFBF;
  --color-bg-input: #AEAEAE;
  --color-bg-sidebar: #636363;
  --color-bg-success: #B7FFC5;
  --color-bg-danger: #FFB7B7;
  --color-bg-light: #F0F0F0;

  --color-text-primary-light: #000000;
  --color-text-secondary-light: #747474;
}